<!DOCTYPE html>
<html lang="en">

<head>

  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
  <meta name="description" content="">
  <meta name="author" content="">

  <title>스마트 신호등 관제 사이트cctv</title>

  <!-- Custom fonts for this template-->
  <link href="{{ url_for('static', filename='vendor/fontawesome-free/css/all.min.css') }}" rel="stylesheet" type="text/css">
  <link href="{{ url_for('static', filename='https://fonts.googleapis.com/css?family=Nunito:200,200i,300,300i,400,400i,600,600i,700,700i,800,800i,900,900i') }}" rel="stylesheet">

  <!-- Custom styles for this template-->
  <link href="{{ url_for('static', filename='css/sb-admin-2.min.css') }}" rel="stylesheet">

   <!-- scripts -->
  <script src="//code.jquery.com/jquery-3.3.1.min.js"></script>
  <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>

  <style>
    body {
      padding-right: 0 !important;
    }

    .cctvName {
      white-space: pre;
      font-size: 30px;
      font-weight: bold;
    }
  </style>
</head>

<body id="page-top">

  <!-- Page Wrapper -->
  <div id="wrapper">

    <!-- Sidebar -->
    <ul class="navbar-nav bg-gradient-primary sidebar sidebar-dark accordion" id="accordionSidebar">

      <!-- Sidebar - Brand -->
      <a class="sidebar-brand d-flex align-items-center justify-content-center" href="{{url_for('index')}}">
        <div class="sidebar-brand-icon rotate-n-15">
          <i class="fas fa-laugh-wink"></i>
        </div>
        <div class=" mx-3"><sup>smart</sup>신호등 </div>
      </a>

      <!-- Divider -->
      <hr class="sidebar-divider my-0">

      <!-- Nav Item - Dashboard -->
      <li class="nav-item active">
        <a class="nav-link" href="{{url_for('index')}}">
          <i class="fas fa-fw fa-tachometer-alt"></i>
          <span>Dashboard</span></a>
      </li>

      <!-- Divider -->
      <hr class="sidebar-divider">

      <!-- Heading -->
      <div class="sidebar-heading">
        CCTV 관제
      </div>

      <!-- Nav Item - Pages Collapse Menu -->
      <li class="nav-item">
        <a class="nav-link collapsed" href="{{url_for('cctv')}}">
          <i class="fas fa-video"></i>
          <span>CCTV영상 확인</span>
        </a>
      </li>


      <!-- Nav Item - Utilities Collapse Menu
      <li class="nav-item">
        <a class="nav-link collapsed" href="#" data-toggle="collapse" data-target="#collapseUtilities" aria-expanded="true" aria-controls="collapseUtilities">
          <i class="fas fa-fw fa-wrench"></i>
          <span>Utilities</span>
        </a>
        <div id="collapseUtilities" class="collapse" aria-labelledby="headingUtilities" data-parent="#accordionSidebar">
          <div class="bg-white py-2 collapse-inner rounded">
            <h6 class="collapse-header">Custom Utilities:</h6>
            <a class="collapse-item" href="utilities-color.html">Colors</a>
            <a class="collapse-item" href="utilities-border.html">Borders</a>
            <a class="collapse-item" href="utilities-animation.html">Animations</a>
            <a class="collapse-item" href="utilities-other.html">Other</a>
          </div>
        </div>
      </li>
      -->

      <!-- Divider -->
      <hr class="sidebar-divider d-none d-md-block">

      <!-- Sidebar Toggler (Sidebar) 사이드바 크기 조절-->
      <div class="text-center d-none d-md-inline">
        <button class="rounded-circle border-0" id="sidebarToggle"></button>
      </div>

    </ul>
    <!-- End of Sidebar -->
    <!-- Content Wrapper -->
    <div id="content-wrapper" class="d-flex flex-column">

      <!-- Main Content -->
      <div id="content">

        <!-- Topbar -->
        <nav class="navbar navbar-expand navbar-light bg-white topbar mb-4 static-top shadow">

          <!-- Sidebar Toggle (Topbar) -->
          <button id="sidebarToggleTop" class="btn btn-link d-md-none rounded-circle mr-3">
            <i class="fa fa-bars"></i>
          </button>
            <div class="topbar-divider d-none d-sm-block"></div>
            <h1 class="h3 mb-0 text-gray-800">실시간 CCTV 영상 화면</h1>

        </nav>
        <!-- End of Topbar -->

        <!-- 메인 화면 시작 -->
        <div class="container-fluid">



          <!-- CCTV -->
          <section id="about">
             <p style="text-align: center;">
              <a href="#pop1" data-toggle="modal" data-backdrop="static"><video src={{ url_for('static', filename='cam_vidio/normal (1).mp4') }} autoplay loop muted style="width: 20%; height: 20%;" class="img-responsive"> </video></a>
              <a href="#pop2" data-toggle="modal" data-backdrop="static"><video src={{ url_for('static', filename='cam_vidio/normal (2).mp4') }} autoplay loop muted style="width: 20%; height: 20%;" class="img-responsive"> </video></a>
              <a href="#pop3" data-toggle="modal" data-backdrop="static"><video src={{ url_for('static', filename='cam_vidio/normal (3).mp4') }} autoplay loop muted style="width: 20%; height: 20%;" class="img-responsive"> </video></a>
              <a href="#pop4" data-toggle="modal" data-backdrop="static"><video src={{ url_for('static', filename='cam_vidio/normal (4).mp4') }} autoplay loop muted style="width: 20%; height: 20%;" class="img-responsive"> </video></a>
              <br>
              <a href="#pop5" data-toggle="modal" data-backdrop="static"><video src={{ url_for('static', filename='cam_vidio/normal (4).mp4') }} autoplay loop muted style="width: 20%; height: 20%;" class="img-responsive"> </video></a>
              <a href="#camera1" data-toggle="modal" data-backdrop="static">
                <img src={{ url_for('video_feed1') }} width="30%" height="10%" class="img-responsive">
              </a>
              <a href="#pop6" data-toggle="modal" data-backdrop="static"><video src={{ url_for('static', filename='cam_vidio/normal (4).mp4') }} autoplay loop muted style="width: 20%; height: 20%;" class="img-responsive"> </video></a>
              <a href="#pop7" data-toggle="modal" data-backdrop="static"><video src={{ url_for('static', filename='cam_vidio/normal (4).mp4') }} autoplay loop muted style="width: 20%; height: 20%;" class="img-responsive"> </video></a>
              <br>
              <a href="#pop16" data-toggle="modal" data-backdrop="static"><video src={{ url_for('static', filename='cam_vidio/normal (16).mp4') }} autoplay loop muted style="width: 20%; height: 20%;" class="img-responsive"> </video></a>
              <a href="#pop17" data-toggle="modal" data-backdrop="static"><video src={{ url_for('static', filename='cam_vidio/normal (17).mp4') }} autoplay loop muted style="width: 20%; height: 20%;" class="img-responsive"> </video></a>
              <a href="#pop18" data-toggle="modal" data-backdrop="static"><video src={{ url_for('static', filename='cam_vidio/normal (18).mp4') }} autoplay loop muted style="width: 20%; height: 20%;" class="img-responsive"> </video></a>
              <a href="#pop1" data-toggle="modal" data-backdrop="static"><video src={{ url_for('static', filename='cam_vidio/normal (1).mp4') }} autoplay loop muted style="width: 20%; height: 20%;" class="img-responsive"> </video></a>
              <br>
              <a href="#pop2" data-toggle="modal" data-backdrop="static"><video src={{ url_for('static', filename='cam_vidio/normal (2).mp4') }} autoplay loop muted style="width: 20%; height: 20%;" class="img-responsive"> </video></a>
              <a href="#pop3" data-toggle="modal" data-backdrop="static"><video src={{ url_for('static', filename='cam_vidio/normal (3).mp4') }} autoplay loop muted style="width: 20%; height: 20%;" class="img-responsive"> </video></a>
              <a href="#pop4" data-toggle="modal" data-backdrop="static"><video src={{ url_for('static', filename='cam_vidio/normal (4).mp4') }} autoplay loop muted style="width: 20%; height: 20%;" class="img-responsive"> </video></a>
              <a href="#pop5" data-toggle="modal" data-backdrop="static"><video src={{ url_for('static', filename='cam_vidio/normal (5).mp4') }} autoplay loop muted style="width: 20%; height: 20%;" class="img-responsive"> </video></a>

            </p>
            <div>
              <br />
              <!-- 상황 발생 이미지를 최대 22개까지 출력
              <center>
                <a href="#state_image1" data-toggle="modal" data-backdrop="static" id="state_img_1"></a>
                <a href="#state_image2" data-toggle="modal" data-backdrop="static" id="state_img_2"></a>
                <a href="#state_image3" data-toggle="modal" data-backdrop="static" id="state_img_3"></a>
                <a href="#state_image4" data-toggle="modal" data-backdrop="static" id="state_img_4"></a>
                <a href="#state_image5" data-toggle="modal" data-backdrop="static" id="state_img_5"></a>
                <a href="#state_image6" data-toggle="modal" data-backdrop="static" id="state_img_6"></a>
                <a href="#state_image7" data-toggle="modal" data-backdrop="static" id="state_img_7"></a>
                <a href="#state_image8" data-toggle="modal" data-backdrop="static" id="state_img_8"></a>
                <a href="#state_image9" data-toggle="modal" data-backdrop="static" id="state_img_9"></a>
                <a href="#state_image10" data-toggle="modal" data-backdrop="static" id="state_img_10"></a>
                <a href="#state_image11" data-toggle="modal" data-backdrop="static" id="state_img_11"></a>
                <a href="#state_image12" data-toggle="modal" data-backdrop="static" id="state_img_12"></a>
                <a href="#state_image13" data-toggle="modal" data-backdrop="static" id="state_img_13"></a>
                <a href="#state_image14" data-toggle="modal" data-backdrop="static" id="state_img_14"></a>
                <a href="#state_image15" data-toggle="modal" data-backdrop="static" id="state_img_15"></a>
                <a href="#state_image16" data-toggle="modal" data-backdrop="static" id="state_img_16"></a>
                <a href="#state_image17" data-toggle="modal" data-backdrop="static" id="state_img_17"></a>
                <a href="#state_image18" data-toggle="modal" data-backdrop="static" id="state_img_18"></a>
                <a href="#state_image19" data-toggle="modal" data-backdrop="static" id="state_img_19"></a>
                <a href="#state_image20" data-toggle="modal" data-backdrop="static" id="state_img_20"></a>
                <a href="#state_image21" data-toggle="modal" data-backdrop="static" id="state_img_21"></a>
                <a href="#state_image22" data-toggle="modal" data-backdrop="static" id="state_img_22"></a>
              </center>
              -->
            </div>
          </section>

          <!-- Modal -->
          <section>
            <div class="modal fade" id="camera1" tabindex="-1" role="dialog" aria-labelledby="camera1Modal">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <p style="font-size: 30px;">
                      CCTV 18
                    </p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body" style="text-align: center;">
                    <img src={{ url_for('video_feed1') }} width="750" height="600" class="img-fluid">
                      <a>CCTV 상세 화면</a>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="camera2" tabindex="-1" role="dialog" aria-labelledby="camera2Modal">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <p style="font-size: 30px;">
                      CCTV 3
                    </p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body" style="text-align: center;">
                    <img src={{ url_for('video_feed2') }} width="750" height="600" class="img-fluid">
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>

            <div class="modal fade" id="pop1" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <p style="font-size: 30px;">
                      CCTV 1
                    </p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body" style="text-align: center;">
                    <video src={{ url_for('static', filename='cam_vidio/normal (1).mp4') }} autoplay loop muted style="width: 100%; height: 100%;" class="img-responsive"> </video>
                      <br><a>CCTV 상세 화면</a>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>
            <div class="modal fade" id="pop2" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <p style="font-size: 30px;">
                      CCTV 2
                    </p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body" style="text-align: center;">
                    <video src={{ url_for('static', filename='cam_vidio/normal (2).mp4') }} autoplay loop muted style="width: 100%; height: 100%;" class="img-responsive"> </video>
                      <br><a>CCTV 상세 화면</a>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>
             <div class="modal fade" id="pop3" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <p style="font-size: 30px;">
                      CCTV 3
                    </p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body" style="text-align: center;">
                    <video src={{ url_for('static', filename='cam_vidio/normal (3).mp4') }} autoplay loop muted style="width: 100%; height: 100%;" class="img-responsive"> </video>
                      <br><a>CCTV 상세 화면</a>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>

             <div class="modal fade" id="pop4" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <p style="font-size: 30px;">
                      CCTV 4
                    </p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body" style="text-align: center;">
                    <video src={{ url_for('static', filename='cam_vidio/normal (4).mp4') }} autoplay loop muted style="width: 100%; height: 100%;" class="img-responsive"> </video>
                      <br><a>CCTV 상세 화면</a>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>
             <div class="modal fade" id="pop5" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <p style="font-size: 30px;">
                      CCTV 5
                    </p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body" style="text-align: center;">
                    <video src={{ url_for('static', filename='cam_vidio/normal (5).mp4') }} autoplay loop muted style="width: 100%; height: 100%;" class="img-responsive"> </video>
                      <br><a>CCTV 상세 화면</a>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>
             <div class="modal fade" id="pop6" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <p style="font-size: 30px;">
                      CCTV 6
                    </p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body" style="text-align: center;">
                    <video src={{ url_for('static', filename='cam_vidio/normal (6).mp4') }} autoplay loop muted style="width: 100%; height: 100%;" class="img-responsive"> </video>">
                      <br><a>CCTV 상세 화면</a>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>
             <div class="modal fade" id="pop7" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <p style="font-size: 30px;">
                      CCTV 7
                    </p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body" style="text-align: center;">
                    <video src={{ url_for('static', filename='cam_vidio/normal (7).mp4') }} autoplay loop muted style="width: 100%; height: 100%;" class="img-responsive"> </video>
                      <br><a>CCTV 상세 화면</a>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>
             <div class="modal fade" id="pop8" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <p style="font-size: 30px;">
                      CCTV 8
                    </p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body" style="text-align: center;">
                    <video src={{ url_for('static', filename='cam_vidio/normal (8).mp4') }} autoplay loop muted style="width: 100%; height: 100%;" class="img-responsive"> </video>
                      <br><a>CCTV 상세 화면</a>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>
             <div class="modal fade" id="pop9" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <p style="font-size: 30px;">
                      CCTV 9
                    </p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body" style="text-align: center;">
                    <video src={{ url_for('static', filename='cam_vidio/normal (9).mp4') }} autoplay loop muted style="width: 100%; height: 100%;" class="img-responsive"> </video>
                      <br><a>CCTV 상세 화면</a>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>
             <div class="modal fade" id="pop10" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <p style="font-size: 30px;">
                      CCTV 10
                    </p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body" style="text-align: center;">
                    <video src={{ url_for('static', filename='cam_vidio/normal (10).mp4') }} autoplay loop muted style="width: 100%; height: 100%;" class="img-responsive"> </video>
                      <br><a>CCTV 상세 화면</a>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>
             <div class="modal fade" id="pop11" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <p style="font-size: 30px;">
                      CCTV 11
                    </p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body" style="text-align: center;">
                    <video src={{ url_for('static', filename='cam_vidio/normal (11).mp4') }} autoplay loop muted style="width: 100%; height: 100%;" class="img-responsive"> </video>
                      <br><a>CCTV 상세 화면</a>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>
             <div class="modal fade" id="pop12" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <p style="font-size: 30px;">
                      CCTV 12
                    </p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body" style="text-align: center;">
                    <video src={{ url_for('static', filename='cam_vidio/normal (12).mp4') }} autoplay loop muted style="width: 100%; height: 100%;" class="img-responsive"> </video>
                      <br><a>CCTV 상세 화면</a>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>
             <div class="modal fade" id="pop13" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <p style="font-size: 30px;">
                      CCTV 13
                    </p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body" style="text-align: center;">
                    <video src={{ url_for('static', filename='cam_vidio/normal (13).mp4') }} autoplay loop muted style="width: 100%; height: 100%;" class="img-responsive"> </video>
                      <br><a>CCTV 상세 화면</a>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>
             <div class="modal fade" id="pop14" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <p style="font-size: 30px;">
                      CCTV 14
                    </p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body" style="text-align: center;">
                    <video src={{ url_for('static', filename='cam_vidio/normal (14).mp4') }} autoplay loop muted style="width: 100%; height: 100%;" class="img-responsive"> </video>
                      <br><a>CCTV 상세 화면</a>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>
             <div class="modal fade" id="pop15" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <p style="font-size: 30px;">
                      CCTV 15
                    </p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body" style="text-align: center;">
                    <video src={{ url_for('static', filename='cam_vidio/normal (15).mp4') }} autoplay loop muted style="width: 100%; height: 100%;" class="img-responsive"> </video>
                      <br><a>CCTV 상세 화면</a>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>
             <div class="modal fade" id="pop16" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <p style="font-size: 30px;">
                      CCTV 16
                    </p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body" style="text-align: center;">
                    <video src={{ url_for('static', filename='cam_vidio/normal (16).mp4') }} autoplay loop muted style="width: 100%; height: 100%;" class="img-responsive"> </video>
                      <br><a>CCTV 상세 화면</a>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>
             <div class="modal fade" id="pop17" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <p style="font-size: 30px;">
                      CCTV 17
                    </p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body" style="text-align: center;">
                    <video src={{ url_for('static', filename='cam_vidio/normal (17).mp4') }} autoplay loop muted style="width: 100%; height: 100%;" class="img-responsive"> </video>
                      <br><a>CCTV 상세 화면</a>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>
             <div class="modal fade" id="pop18" tabindex="-1" role="dialog">
              <div class="modal-dialog modal-lg" role="document">
                <div class="modal-content">
                  <div class="modal-header">
                    <p style="font-size: 30px;">
                      CCTV 18
                    </p>
                    <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span
                        aria-hidden="true">×</span></button>
                  </div>
                  <div class="modal-body" style="text-align: center;">
                    <video src={{ url_for('static', filename='cam_vidio/normal (18).mp4') }} autoplay loop muted style="width: 100%; height: 100%;" class="img-responsive"> </video>
                      <br><a>CCTV 상세 화면</a>
                  </div>
                  <div class="modal-footer">
                  </div>
                </div>
              </div>
            </div>
          </section>


        </div>
        <!-- /.메인 화면 종료 -->

      </div>
      <!-- End of Main Content -->

      <!-- Footer -->
      <footer class="sticky-footer bg-white">
        <div class="container my-auto">
          <div class="copyright text-center my-auto">
            <span>Copyright &copy; Your Website 2019</span>
          </div>
        </div>
      </footer>
      <!-- End of Footer -->

    </div>
    <!-- End of Content Wrapper -->

  </div>
  <!-- End of Page Wrapper -->

  <!-- Scroll to Top Button-->
  <a class="scroll-to-top rounded" href="#page-top">
    <i class="fas fa-angle-up"></i>
  </a>


  <!-- Bootstrap core JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery/jquery.min.js') }}"></script>
  <script src="{{ url_for('static', filename='vendor/bootstrap/js/bootstrap.bundle.min.js') }}"></script>
  <!-- Core plugin JavaScript-->
  <script src="{{ url_for('static', filename='vendor/jquery-easing/jquery.easing.min.js') }}"></script>
  <!-- Custom scripts for all pages-->
  <script src="{{ url_for('static', filename='js/sb-admin-2.min.js') }}"></script>
  <!-- Page level plugins -->
  <script src="{{url_for('static', filename='vendor/chart.js/Chart.min.js')}}"></script>
  <!-- Page level custom scripts -->
  <script src="{{url_for('static', filename='js/demo/chart-area-demo.js')}}"></script>
  <script src="{{url_for('static', filename='js/demo/chart-pie-demo.js')}}"></script>


  <!-- Functions with Flask SocketIO -->
   <script language="javascript">
     $(document).ready(function () {
       var socket = io.connect('http://' + document.domain + ':' + location.port + '/index');
       var state_img_cam = [0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0, 0];
       var state_img_state = ["", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", ""];
       var state_img_datetime = ["", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", "", ""];
       var state_img_count = 0;

       // Fire State
       socket.on('fireResponse', function (msg) {
         console.log('Fire: ' + msg.fire_state);
       });

       // Traffic Accident State
       socket.on('trafficResponse', function (msg) {
         console.log('Traffic Accdient: ' + msg.traffic_accident_state);
       });

       // Criminal State
       socket.on('criminalResponse', function (msg) {
         console.log('Criminal: ' + msg.criminal_state);
       });

       // Popup Window
       socket.on('stateWindow', function (msg) {
         console.log('stateWindow');
         console.log('cameracmaera : ' + msg.cameraNum);
         if (msg.cameraNum == 1) {
           window.open('popup_alert_' + msg.cameraNum + '/' + msg.cameraNum + '/' + msg.state + '/' + msg.isGradcam, '상황발생1', 'left=0, top=0, width=550, height=500');
         }
         else {
           window.open('popup_alert_' + msg.cameraNum + '/' + msg.cameraNum + '/' + msg.state + '/' + msg.isGradcam, '상황발생2', 'left=0, top=550, width=550, height=500');
         }
       });

       // Count
       socket.on('stateImgCount', function (msg) {
         console.log('state_img_count: ' + msg.state_img_count);
         if (msg.state_img_count == 1) {
           console.log('1');
           state_img_cam[0] = msg.cameraNum;
           state_img_state[0] = msg.state;
           state_img_datetime[0] = msg.time
           $('#state_img_1').html("<img src={{ url_for('state_img1') }} width=\"70\" height=\"70\" onerror=\"this.style.display='none'\">");
         }
         else if (msg.state_img_count == 2) {
           console.log('2');
           state_img_cam[1] = msg.cameraNum;
           state_img_state[1] = msg.state;
           state_img_datetime[1] = msg.time
           $('#state_img_2').html("<img src={{ url_for('state_img2') }} width=\"70\" height=\"70\" onerror=\"this.style.display='none'\">");
         }
         else if (msg.state_img_count == 3) {
           console.log('3');
           state_img_cam[2] = msg.cameraNum;
           state_img_state[2] = msg.state;
           state_img_datetime[2] = msg.time
           $('#state_img_3').html("<img src={{ url_for('state_img3') }} width=\"70\" height=\"70\" onerror=\"this.style.display='none'\">");
         }
         else if (msg.state_img_count == 4) {
           console.log('4');
           state_img_cam[3] = msg.cameraNum;
           state_img_state[3] = msg.state;
           state_img_datetime[3] = msg.time
           $('#state_img_4').html("<img src={{ url_for('state_img4') }} width=\"70\" height=\"70\" onerror=\"this.style.display='none'\">");
         }
         else if (msg.state_img_count == 5) {
           console.log('5');
           state_img_cam[4] = msg.cameraNum;
           state_img_state[4] = msg.state;
           state_img_datetime[4] = msg.time
           $('#state_img_5').html("<img src={{ url_for('state_img5') }} width=\"70\" height=\"70\" onerror=\"this.style.display='none'\">");
         }
         else if (msg.state_img_count == 6) {
           console.log('6');
           state_img_cam[5] = msg.cameraNum;
           state_img_state[5] = msg.state;
           state_img_datetime[5] = msg.time
           $('#state_img_6').html("<img src={{ url_for('state_img6') }} width=\"70\" height=\"70\" onerror=\"this.style.display='none'\">");
         }
         else if (msg.state_img_count == 7) {
           console.log('7');
           state_img_cam[6] = msg.cameraNum;
           state_img_state[6] = msg.state;
           state_img_datetime[6] = msg.time
           $('#state_img_7').html("<img src={{ url_for('state_img7') }} width=\"70\" height=\"70\" onerror=\"this.style.display='none'\">");
         }
         else if (msg.state_img_count == 8) {
           console.log('8');
           state_img_cam[7] = msg.cameraNum;
           state_img_state[7] = msg.state;
           state_img_datetime[7] = msg.time
           $('#state_img_8').html("<img src={{ url_for('state_img8') }} width=\"70\" height=\"70\" onerror=\"this.style.display='none'\">");
         }
         else if (msg.state_img_count == 9) {
           console.log('9');
           state_img_cam[8] = msg.cameraNum;
           state_img_state[8] = msg.state;
           state_img_datetime[8] = msg.time
           $('#state_img_9').html("<img src={{ url_for('state_img9') }} width=\"70\" height=\"70\" onerror=\"this.style.display='none'\">");
         }
         else if (msg.state_img_count == 10) {
           console.log('10');
           state_img_cam[9] = msg.cameraNum;
           state_img_state[9] = msg.state;
           state_img_datetime[9] = msg.time
           $('#state_img_10').html("<img src={{ url_for('state_img10') }} width=\"70\" height=\"70\" onerror=\"this.style.display='none'\">");
         }
         else if (msg.state_img_count == 11) {
           console.log('11');
           state_img_cam[10] = msg.cameraNum;
           state_img_state[10] = msg.state;
           state_img_datetime[10] = msg.time
           $('#state_img_11').html("<img src={{ url_for('state_img11') }} width=\"70\" height=\"70\" onerror=\"this.style.display='none'\">");
         }
         else if (msg.state_img_count == 12) {
           console.log('12');
           state_img_cam[11] = msg.cameraNum;
           state_img_state[11] = msg.state;
           state_img_datetime[11] = msg.time
           $('#state_img_12').html("<img src={{ url_for('state_img12') }} width=\"70\" height=\"70\" onerror=\"this.style.display='none'\">");
         }
         else if (msg.state_img_count == 13) {
           console.log('13');
           state_img_cam[12] = msg.cameraNum;
           state_img_state[12] = msg.state;
           state_img_datetime[12] = msg.time
           $('#state_img_13').html("<img src={{ url_for('state_img13') }} width=\"70\" height=\"70\" onerror=\"this.style.display='none'\">");
         }
         else if (msg.state_img_count == 14) {
           console.log('14');
           state_img_cam[13] = msg.cameraNum;
           state_img_state[13] = msg.state;
           state_img_datetime[13] = msg.time
           $('#state_img_14').html("<img src={{ url_for('state_img14') }} width=\"70\" height=\"70\" onerror=\"this.style.display='none'\">");
         }
         else if (msg.state_img_count == 15) {
           console.log('15');
           state_img_cam[14] = msg.cameraNum;
           state_img_state[14] = msg.state;
           state_img_datetime[14] = msg.time
           $('#state_img_15').html("<img src={{ url_for('state_img15') }} width=\"70\" height=\"70\" onerror=\"this.style.display='none'\">");
         }
         else if (msg.state_img_count == 16) {
           console.log('16');
           state_img_cam[15] = msg.cameraNum;
           state_img_state[15] = msg.state;
           state_img_datetime[15] = msg.time
           $('#state_img_16').html("<img src={{ url_for('state_img16') }} width=\"70\" height=\"70\" onerror=\"this.style.display='none'\">");
         }
         else if (msg.state_img_count == 17) {
           console.log('17');
           state_img_cam[16] = msg.cameraNum;
           state_img_state[16] = msg.state;
           state_img_datetime[16] = msg.time
           $('#state_img_17').html("<img src={{ url_for('state_img17') }} width=\"70\" height=\"70\" onerror=\"this.style.display='none'\">");
         }
         else if (msg.state_img_count == 18) {
           console.log('18');
           state_img_cam[17] = msg.cameraNum;
           state_img_state[17] = msg.state;
           state_img_datetime[17] = msg.time
           $('#state_img_18').html("<img src={{ url_for('state_img18') }} width=\"70\" height=\"70\" onerror=\"this.style.display='none'\">");
         }
         else if (msg.state_img_count == 19) {
           console.log('19');
           state_img_cam[18] = msg.cameraNum;
           state_img_state[18] = msg.state;
           state_img_datetime[18] = msg.time
           $('#state_img_19').html("<img src={{ url_for('state_img19') }} width=\"70\" height=\"70\" onerror=\"this.style.display='none'\">");
         }
         else if (msg.state_img_count == 20) {
           console.log('20');
           state_img_cam[19] = msg.cameraNum;
           state_img_state[19] = msg.state;
           state_img_datetime[19] = msg.time
           $('#state_img_20').html("<img src={{ url_for('state_img20') }} width=\"70\" height=\"70\" onerror=\"this.style.display='none'\">");
         }
         else if (msg.state_img_count == 21) {
           console.log('21');
           state_img_cam[20] = msg.cameraNum;
           state_img_state[20] = msg.state;
           state_img_datetime[20] = msg.time
           $('#state_img_21').html("<img src={{ url_for('state_img21') }} width=\"70\" height=\"70\" onerror=\"this.style.display='none'\">");
         }
         else if (msg.state_img_count == 22) {
           console.log('22');
           state_img_cam[21] = msg.cameraNum;
           state_img_state[21] = msg.state;
           state_img_datetime[21] = msg.time
           $('#state_img_22').html("<img src={{ url_for('state_img22') }} width=\"70\" height=\"70\" onerror=\"this.style.display='none'\">");
         }
       });

       // 상황이미지 모달 새로고침
       socket.on('state_img_modal_refresh', function () {
         $('#state_img_1_modal').html("<img src={{ url_for('static', filename='cam_img/state_img/state_img_1.jpg') }} width=\"750\" height=\"600\" class=\"img-fluid\">");
         $('#state_img_2_modal').html("<img src={{ url_for('static', filename='cam_img/state_img/state_img_2.jpg') }} width=\"750\" height=\"600\" class=\"img-fluid\">");
         $('#state_img_3_modal').html("<img src={{ url_for('static', filename='cam_img/state_img/state_img_3.jpg') }} width=\"750\" height=\"600\" class=\"img-fluid\">");
         $('#state_img_4_modal').html("<img src={{ url_for('static', filename='cam_img/state_img/state_img_4.jpg') }} width=\"750\" height=\"600\" class=\"img-fluid\">");
         $('#state_img_5_modal').html("<img src={{ url_for('static', filename='cam_img/state_img/state_img_5.jpg') }} width=\"750\" height=\"600\" class=\"img-fluid\">");
         $('#state_img_6_modal').html("<img src={{ url_for('static', filename='cam_img/state_img/state_img_6.jpg') }} width=\"750\" height=\"600\" class=\"img-fluid\">");
         $('#state_img_7_modal').html("<img src={{ url_for('static', filename='cam_img/state_img/state_img_7.jpg') }} width=\"750\" height=\"600\" class=\"img-fluid\">");
         $('#state_img_8_modal').html("<img src={{ url_for('static', filename='cam_img/state_img/state_img_8.jpg') }} width=\"750\" height=\"600\" class=\"img-fluid\">");
         $('#state_img_9_modal').html("<img src={{ url_for('static', filename='cam_img/state_img/state_img_9.jpg') }} width=\"750\" height=\"600\" class=\"img-fluid\">");
         $('#state_img_10_modal').html("<img src={{ url_for('static', filename='cam_img/state_img/state_img_10.jpg') }} width=\"750\" height=\"600\" class=\"img-fluid\">");
         $('#state_img_11_modal').html("<img src={{ url_for('static', filename='cam_img/state_img/state_img_11.jpg') }} width=\"750\" height=\"600\" class=\"img-fluid\">");
         $('#state_img_12_modal').html("<img src={{ url_for('static', filename='cam_img/state_img/state_img_12.jpg') }} width=\"750\" height=\"600\" class=\"img-fluid\">");
         $('#state_img_13_modal').html("<img src={{ url_for('static', filename='cam_img/state_img/state_img_13.jpg') }} width=\"750\" height=\"600\" class=\"img-fluid\">");
         $('#state_img_14_modal').html("<img src={{ url_for('static', filename='cam_img/state_img/state_img_14.jpg') }} width=\"750\" height=\"600\" class=\"img-fluid\">");
         $('#state_img_15_modal').html("<img src={{ url_for('static', filename='cam_img/state_img/state_img_15.jpg') }} width=\"750\" height=\"600\" class=\"img-fluid\">");
         $('#state_img_16_modal').html("<img src={{ url_for('static', filename='cam_img/state_img/state_img_16.jpg') }} width=\"750\" height=\"600\" class=\"img-fluid\">");
         $('#state_img_17_modal').html("<img src={{ url_for('static', filename='cam_img/state_img/state_img_17.jpg') }} width=\"750\" height=\"600\" class=\"img-fluid\">");
         $('#state_img_18_modal').html("<img src={{ url_for('static', filename='cam_img/state_img/state_img_18.jpg') }} width=\"750\" height=\"600\" class=\"img-fluid\">");
         $('#state_img_19_modal').html("<img src={{ url_for('static', filename='cam_img/state_img/state_img_19.jpg') }} width=\"750\" height=\"600\" class=\"img-fluid\">");
         $('#state_img_20_modal').html("<img src={{ url_for('static', filename='cam_img/state_img/state_img_20.jpg') }} width=\"750\" height=\"600\" class=\"img-fluid\">");
         $('#state_img_21_modal').html("<img src={{ url_for('static', filename='cam_img/state_img/state_img_21.jpg') }} width=\"750\" height=\"600\" class=\"img-fluid\">");
         $('#state_img_22_modal').html("<img src={{ url_for('static', filename='cam_img/state_img/state_img_22.jpg') }} width=\"750\" height=\"600\" class=\"img-fluid\">");
       });

       // 상황이미지 정보 새로고침
       socket.on('state_img_data_refresh', function () {
         $('#state_img_1_data').html("위치 : CCTV " + state_img_cam[0] + "<br/> 상황 : " + state_img_state[0] + "<br/> 발생시간 : " + state_img_datetime[0]);
         $('#state_img_2_data').html("위치 : CCTV " + state_img_cam[1] + "<br/> 상황 : " + state_img_state[1] + "<br/> 발생시간 : " + state_img_datetime[1]);
         $('#state_img_3_data').html("위치 : CCTV " + state_img_cam[2] + "<br/> 상황 : " + state_img_state[2] + "<br/> 발생시간 : " + state_img_datetime[2]);
         $('#state_img_4_data').html("위치 : CCTV " + state_img_cam[3] + "<br/> 상황 : " + state_img_state[3] + "<br/> 발생시간 : " + state_img_datetime[3]);
         $('#state_img_5_data').html("위치 : CCTV " + state_img_cam[4] + "<br/> 상황 : " + state_img_state[4] + "<br/> 발생시간 : " + state_img_datetime[4]);
         $('#state_img_6_data').html("위치 : CCTV " + state_img_cam[5] + "<br/> 상황 : " + state_img_state[5] + "<br/> 발생시간 : " + state_img_datetime[5]);
         $('#state_img_7_data').html("위치 : CCTV " + state_img_cam[6] + "<br/> 상황 : " + state_img_state[6] + "<br/> 발생시간 : " + state_img_datetime[6]);
         $('#state_img_8_data').html("위치 : CCTV " + state_img_cam[7] + "<br/> 상황 : " + state_img_state[7] + "<br/> 발생시간 : " + state_img_datetime[7]);
         $('#state_img_9_data').html("위치 : CCTV " + state_img_cam[8] + "<br/> 상황 : " + state_img_state[8] + "<br/> 발생시간 : " + state_img_datetime[8]);
         $('#state_img_10_data').html("위치 : CCTV " + state_img_cam[9] + "<br/> 상황 : " + state_img_state[9] + "<br/> 발생시간 : " + state_img_datetime[9]);
         $('#state_img_11_data').html("위치 : CCTV " + state_img_cam[10] + "<br/> 상황 : " + state_img_state[10] + "<br/> 발생시간 : " + state_img_datetime[10]);
         $('#state_img_12_data').html("위치 : CCTV " + state_img_cam[11] + "<br/> 상황 : " + state_img_state[11] + "<br/> 발생시간 : " + state_img_datetime[11]);
         $('#state_img_13_data').html("위치 : CCTV " + state_img_cam[12] + "<br/> 상황 : " + state_img_state[12] + "<br/> 발생시간 : " + state_img_datetime[12]);
         $('#state_img_14_data').html("위치 : CCTV " + state_img_cam[13] + "<br/> 상황 : " + state_img_state[13] + "<br/> 발생시간 : " + state_img_datetime[13]);
         $('#state_img_15_data').html("위치 : CCTV " + state_img_cam[14] + "<br/> 상황 : " + state_img_state[14] + "<br/> 발생시간 : " + state_img_datetime[14]);
         $('#state_img_16_data').html("위치 : CCTV " + state_img_cam[15] + "<br/> 상황 : " + state_img_state[15] + "<br/> 발생시간 : " + state_img_datetime[15]);
         $('#state_img_17_data').html("위치 : CCTV " + state_img_cam[16] + "<br/> 상황 : " + state_img_state[16] + "<br/> 발생시간 : " + state_img_datetime[16]);
         $('#state_img_18_data').html("위치 : CCTV " + state_img_cam[17] + "<br/> 상황 : " + state_img_state[17] + "<br/> 발생시간 : " + state_img_datetime[17]);
         $('#state_img_19_data').html("위치 : CCTV " + state_img_cam[18] + "<br/> 상황 : " + state_img_state[18] + "<br/> 발생시간 : " + state_img_datetime[18]);
         $('#state_img_20_data').html("위치 : CCTV " + state_img_cam[19] + "<br/> 상황 : " + state_img_state[19] + "<br/> 발생시간 : " + state_img_datetime[19]);
         $('#state_img_21_data').html("위치 : CCTV " + state_img_cam[20] + "<br/> 상황 : " + state_img_state[20] + "<br/> 발생시간 : " + state_img_datetime[20]);
         $('#state_img_22_data').html("위치 : CCTV " + state_img_cam[21] + "<br/> 상황 : " + state_img_state[21] + "<br/> 발생시간 : " + state_img_datetime[21]);
       });
     });
   </script>
</body>

</html>
